dist: jammy
language: python
python: 3.11.0

install: 
- pip3 install jsonschema pytest
- npm install pacote@11.1.11

script:
- set -e
- py.test -vv
- python3 validate.py  
- php validate.php
- git checkout .
- npm version `node -e 'pacote=require("pacote");pacote.manifest("crawler-user-agents").then(pkgJson => { console.log(pkgJson.version); });'`
- npm version patch

deploy:
  provider: npm
  email: martin.monperrus@gnieh.org
  skip_cleanup: true
  api_key:
    secure: DAS1IgbrU085kpY4acrByrU2oWQq2HbP8aNye/Wb7nJIjT2Hv+DrbGoZ38Qiz8szHGmOy0DwtwJGPL6dhM7cC+2PBn5Pu6GzeORCSh+KlrRFIVI09A9BRc6TGNkJIr7ddP0H69U+OcdL53noBeMK4q2nxM6neCZM4Aa45r1jptI=
  on:
    repo: monperrus/crawler-user-agents
    branch: master
